
#menu{
  background: #FF1654;/*rosa*/
	color: white;
	height: 80px;
}
    #menu .a{
      color: white;
    }

#logo-header{
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
  color: white;
}
    #logo-header .site-name {
      display: block;
      font-weight: 700;
      font-size: 1.2em;
    }
    #logo-header .site-desc {
      display: block;
      font-weight: 300;
      font-size: 0.8em;
      color: white;
    }

nav{
  float: right;
}
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-right: 20px;
    }
    nav ul li {
      display: inline-block;
      line-height: 80px;
      padding-right: 20px;
    }
        nav ul li a {
          display: block;
          padding: 0 10px;
          text-decoration: none;
          color: white;
        }
            nav ul li a:hover{
              background: white;
              color: #FF1654;
            }
